/* Catppuccin Mocha - Wofi */
* {
  font-size: 18px;
}
#window {
    background-color: transparent;
}
#scroll {
  background-color: #1e1e2e;
}
#outer-box {
  background-color: #1e1e2e;
  padding: 20px;
}
#main {
  background-color: #1e1e2e;
}
scrollbar,
scrollbar trough,
undershoot.top,
undershoot.bottom {
  min-width: 5px;
  min-height: 5px;
  background: none;
}
scrollbar slider{
  background-color: #cba6f7;
}
#outer-box {
  padding: 10px;
}

#input image {
  color: #cba6f7; /* Accent */
  -gtk-icon-effect: none;
}
#input {
  background-color: #313244; /* Surface0 */
  color: #cdd6f4;        /* typed text */
  caret-color: #cba6f7;
  border: 1px solid #45475a; /* Surface1 */
  padding: 8px 12px;
  margin: 10px;
  border-radius: 35px;
  outline: 1px solid #585b70;
}
#input:focus {
  border-color: #cba6f7; /* Accent */
}
#input placeholder {
  color: #1e1e2e; /* Overlay0 */
}
#entry {
  background-color: #1e1e2e;
  color: #cdd6f4;
}
#entry #entry:selected {
  background-color: #313244;
  color: #cba6f7;
}
#entry:selected {
  background-color: #313244;
  color: #cba6f7;
}
#entry:hover {
  background-color: #45475a; /* Surface1 */
}
#text {
  color: #cdd6f4 ; /* Text */
}
#text:selected {
  color: #cba6f7; /* Accent */
}

